

  .registrationContainer {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 490px;
    margin-right: 490px;

    padding-top: 30px;
    padding-left: 45px;
    padding-right: 55px;
    padding-bottom: 30px;
    background-color: #a18c8c;
    border-radius: 25px;
}
